.aux {
  color: #333;
  _color: #444;   /* IE6 only */
  *color: #555;   /* IE6, IE7 only */
  color: #666\9;  /* IE6, IE7, IE8. Note that the characters must be "\9" */
  color: #777!important\9;
  .color: #888;   /* IE7 only */

  -moz-border-radius: 1em;
}

.MessagingCheckboxTooltip input.MessagingCheckbox {
  font-size: 9px;
  height: 13px;
  margin-bottom: 0;
  margin-top: 1px;

  /* IE treats checkboxes kinda weirdly, gotta hack around it. */
  *margin-top: 0;
  padding-top: 0\9;
  padding-bottom: 0\9;

  vertical-align: baseline;
}
