.LFXBlind {
  opacity:    0.5;
  -ms-filter: "alpha(opacity=75)";
  filter:     alpha(opacity=75);
  background: #999;
  position:   absolute;
  z-index:    5005;
}

.editButton:focus {
  opacity: 1;
  -ms-filter: 'alpha(opacity = 100)';
  filter: alpha(opacity = 100);
}
